

<!-- Page styles -->
<link type='text/css' href="{{asset('bundles/pfe/popup/css/demo.css')}}" rel='stylesheet' media='screen' />

<!-- Contact Form CSS files -->
<link type='text/css' href="{{asset('bundles/pfe/popup/css/basic.css')}}" rel='stylesheet' media='screen' />

<!-- IE6 "fix" for the close png image -->
<!--[if lt IE 7]>
<link type='text/css' href="{{asset('bundles/pfe/popup/css/basic_ie.css')}}" rel='stylesheet' media='screen' />
<![endif]-->

<!-- JS files are loaded at the bottom of the page -->

<div id='container'>
	
	
		
		<!-- modal content -->
		<div id="basic-modal-content">
			<center><h1 style="line-height:280px">vous n'êtes pas membre</h1></center>
	
		</div>

	</div>
	
</div>
<!-- Load jQuery, SimpleModal and Basic JS files -->
<script type='text/javascript' src="{{asset('bundles/pfe/popup/js/jquery.js')}}"></script>
<script type='text/javascript' src="{{asset('bundles/pfe/popup/js/jquery.simplemodal.js')}}"></script>
<script type='text/javascript' src="{{asset('bundles/pfe/popup/js/basic.js')}}"></script>
